.title {
  text-align: center;
}
.heading {
  border-bottom: 1px solid #cccccc;
}
.section {
  margin: 19.92px auto;
}
.table {
  border-collapse: collapse;
}
.table th, .table td {
  padding: 4px 8px;
}
.border-table th, .border-table td {
  border: 1px solid;
  text-align: center;
}
