body {
  margin: 0;
}
.background {
  background-color: #cccccc;
}
.main_outer {
  background-color: #ffffff;
  box-sizing: border-box;
}
@media (max-width: 1079px) {
  .main_outer {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .main_outer {
    max-width: none;
    margin: 0 40px;
  }
}
main {
  padding: 8px;
}
header, footer {
  background-color: #333333;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}
.url {
  font-size: 80%;
  color: #ffffff;
}
.flex_center {
  display: flex;
  align-items: center;
}
.flex_item_left {
  margin-right: auto;
}
