.title {
  text-align: center;
}
.heading {
  border-bottom: 1px solid #cccccc;
  padding-top: 16px;
}
.table {
  border-collapse: collapse;
}
.table th, .table td {
  padding: 0 8px;
}
.border-table th, .border-table td {
  border: 1px solid;
  text-align: center;
}
