table {
  border-collapse: collapse;
}
table td {
  text-align: center;
}
.outline:focus-within {
  outline: solid;
}
table input {
  vertical-align: middle;
}
table input[type=text], table input[type=number] {
  border: none;
  outline: none;
}
table input[type=button] {
  font-size: 80%;
}
.large {
  width: 162.5px;
}
.small {
  width: 48.75px;
  text-align: center;
}
