table {
  border-collapse: collapse;
}
.main-table th, .main-table td {
  border: 1px solid;
  text-align: center;
}
.outline:focus-within {
  outline: solid;
}
.main-table input {
  vertical-align: middle;
}
.main-table input[type=text], .main-table input[type=number] {
  border: none;
  outline: none;
  background-color: transparent;
}
.main-table input[type=button] {
  font-size: 80%;
}
.large {
  width: 162.5px;
}
.small {
  width: 48.75px;
  text-align: center;
}
.warning {
  background-color: #ffffcc;
}
.error {
  background-color: #ffcccc;
}
details {
  border: 1px solid #cccccc;
  padding: 2px 6px;
}
.hidden {
  display: none;
}
